.container {
    background-color: lightblue;
}

.box {
    position: absolute;
    height: 20rem;
    width: 20rem;
    background-color: red;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: 50%;
    cursor: pointer;
    transition: 1s ease-in-out all;
    text-align: center;
}

.box:hover {
    background-color: green;
    border-radius: 100%;
}

@media screen and (max-width: 500px) {
    .box {
        display: none;
    }
}

.box-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}